@import "../../global.scss";

.logos-main {
  display: flex;
  position: absolute;
  bottom: -10%;
  background: transparent;
  width: 100%;
  overflow-x: hidden;
  height: 15vh;
  justify-content:center;
}


.logos {
  height: 90%;
  width: 30%;
  margin-right: 5%;
}
