@import "../../global.scss";

.logos-main {
  display: flex;
  position: absolute;
  bottom: -10%;
  background: transparent;
  width: 100%;
  overflow-x: hidden;
  height: 15vh;
  justify-content:center;
}


.logos {
  height: 90%;
  width: 30%;
  margin-right: 5%;
}
<<<<<<< HEAD
=======
@media only screen and (min-width: 1000px) {
  .logos-main {
    bottom: -20%;
    height: 20vh;
  }
}
>>>>>>> b329c7535c4b439fdbae8f9e6c1a87f84fdf032d
