@import "../../global.scss";

.logos-main {
  display: flex;
  position: absolute;
  bottom: -10%;
  background: transparent;
  width: 100%;
  overflow-x: hidden;
  height: 15vh;
  justify-content: center;
}

.logos {
  height: 45%;
  margin-right: 8%;
}
@media only screen and (min-width: 400px) and (max-width: 899px) and (orientation: landscape) {
  .logos {
    height: 80%;
    margin-right: 15%;
  }
}

@media only screen and (min-width: 900px) {
  .logos {
    height: 80%;
    margin-right: 15%;
  }
}
