::-webkit-scrollbar {
  display: none;
}

// font

$fontMedio: "Futura_Md";
$fontBold: "Futura_Bold";

//pallet
$amarelo: #f3d549;
$amareloEscuro: #efc249;
$azul: #283047;
$branco: #fbeeee;
$error: #ff0033;
$laranja: #e37d4d;
$nude: #e685a3;
$salmao: #e68585;
$preto: #000;
$rosa: #cf1552;

body {
  width: 100%;
  height: 100%;
  background: $branco;
}
.logo {
  width: 100%;
  height: 100%;
}

:export {
  azul: $azul;
  rosa: $rosa;
  branco: $branco;
  laranja: $laranja;
  amarelo: $amarelo;
  error: $error;
  preto: $preto;
}
