@import "../../global.scss";


.image-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 90%;
    height: 90%;
  }
}

.text-presentation{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (min-width:600px) and (orientation:landscape) and (max-width:900px) {
  .image-presentation {
display:none;
  }
}


