@import "../../global.scss";

.presentation-image {
  width: 80%;
  height: 80%;
  box-shadow: -6px 6px 10px black;
}
.image-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  img{
    width: 85%;
    height: 100%;
  }
}
.text-presentation {
  height: 50%;


}
.subtitle-presentation {
  height: 80%;
  flex-basis: 0;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  overflow:hidden;

}
.title-presentation {
  height: 20%;
  flex-basis: 0;
  display: flex;
  align-items: center;
  color:$rosa;

}

@media only screen and (min-width:600px) and ( orientation:landscape){
  .image-presentation {

    height: 80%;
    img{
      width: 85%;
      height: 100%;
    }
  
  }
  .text-presentation {
    height: 90%;
  
  
  }

}


@media only screen and (min-width:600px)and ( orientation:portrait){
  .image-presentation {

    height: 80%;
    img{
      width: 100%;
      height: 65%;
    }
  
  }
  .text-presentation {
    height: 90%;
  
  
  }

}
