.card {
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 30px;
  padding: 0 2% 0 2%;
}
.card-container {
  height: 100%;

}
.card-image {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-text {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 80%;
  padding: 1%;
  align-items:center;


}

.card-carrosel {
  height: 20%;
  display: flex;
  justify-content: center;
  margin: 0;
}
.images-card {
  widows: 50%;
  height: 50%;
}
.card-carrosel {
  display: flex;
}
.color_white {
  font-size: 5vh;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
}
.color_red {
  font-size: 5vh;
  color: red;
  margin: 0;
  align-items: center;
  display: flex;
}


@media only screen and (min-width: 600px) and (orientation:landscape){
  .card {
    height: 60%;
  }
}
@media only screen and (min-width: 600px) and (orientation:portrait){
  .card {
    height: 50%;
  }
}
