.card {
  height: 30vh;
  width: 100%;
  margin: auto;
  border-radius: 30px;
  padding: 0 2% 0 2%;
}
.card-container {
  height: 100%;

  background:rgb(136, 255, 0);

}
.card-image {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgb(255, 0, 200);

}
.card-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  height:80%;
  background:rgb(0, 183, 255);

  h2 {
    margin: 0;
    height:20%;

  }
  p {
    height:80%;
    background:rgb(255, 0, 0);
  }
}

.card-carrosel{
  height: 20%;
  display: flex;
  justify-content: center;
  margin: 0;
  background:rgb(255, 251, 0);

}
.images-card {
  widows: 50%;
  height: 50%;
  background:rgb(255, 0, 106);

}
.card-carrosel{
  display:flex;
}
 .color_white {
  font-size: 5vh;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
}
.color_red {
  font-size: 5vh;
  color: red;
  margin: 0;
  align-items: center;
  display: flex;
} 
