@import "../../global.scss";

.card-main {
  background: $azul;
  width: 75%;
  height: 35%;
  margin: 5%;
  display: flex;
  border-radius: 20px;
  color: white;
  box-shadow: -10px 10px 20px black;
}
.card-left-icon {
  width: 30%;
  height: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
  }
}
.card-right-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65%;
  text-align: center;
  h2 {
    font-size: 2.8vh;
    font-family: $fontBold;
  }
  p {
    font-family: $fontMedio;
    font-size: 2.5vh;
  }
}

.color_white {
  color: white;
}
.color_red {
  color: red;
}

@media only screen and (min-width: 500px) and (max-width: 650px) {

  .card-main {
    background: $azul;
    width: 60%;
    height: 45%;}
}
@media only screen and (min-width: 651px) and (max-width: 939px) {
  .card-main {
    background: $azul;
    width: 75%;
    height: 45%;}
    .card-right-text {
     
      h2 {
        font-size: 3.2vh;
        font-family: $fontBold;
      }
      p {
        font-family: $fontMedio;
        font-size: 3vh;
      }}
}
@media only screen and (min-width: 940px) {
  .card-main {
    background: $azul;
    width: 35%;
    height: 45%;}
    .card-right-text {
     
      h2 {
        font-size: 3.5vh;
        font-family: $fontBold;
      }
      p {
        font-family: $fontMedio;
        font-size: 3.3vh;
      }}
      .card-ball{
        span{
            font-size:2em;
        }
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .card-main {
    background: $azul;
    width: 65%;
    height: 35%;}
    .card-right-text {
     
      h2 {
        font-size: 3vh;
        font-family: $fontBold;
      }
      p {
        font-family: $fontMedio;
        font-size: 2.5vh;
      }}
      .card-ball{
        span{
            font-size:2em;
        }
    }
}
/* @media only screen and (min-width: 499px) and(max-width:1000px) and (orientation: landscape) {
  .card-main {
    background: $azul;
    width: 75%;
    height: 60%;
    margin: 5%;
    display: flex;
    border-radius: 20px;
    color: white;
  }
  .card-right-text {
    h2 {
      font-size: 1.5em;
      margin: 0;
    }
    p {
      font-size: 0.7em;
      margin: 1.5%;
      width: 80%;
    }
  }
}

@media only screen and (min-width: 1000px)  {
    .card-main {
      background: $azul;
      width: 65%;
      height: 60%;
      margin: 5%;
      display: flex;
      border-radius: 20px;
      color: white;
    }
    .card-right-text {
      h2 {
        font-size: 2.3em;
        margin: 0;
      }
      p {
        font-size: 1.5em;
        margin: 2%;
        width: 80%;
      }
    }
    .card-ball{
        span{
            font-size:2em;
        }
    }
  } */
