@import "../../global.scss";

.footer-main {
  background: $amarelo;
  width: 100%;
  height: 100vh;
  margin-top: 20%;
padding:2%;
  overflow-x: hidden;
}
.footer-top {
  display: flex;
  flex-direction: column;
  margin-left: 5%;

  height: 70%;

  h2 {
    color: $rosa;
    font-family: $fontBold;
  }
  p {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.1em;
    margin: 1%;
    width: 100%;
    flex-wrap: wrap;
  }
}

.footer-right-img {
  display: none;
}
.footer-bottom {
  height: 30%;
  a {
    img {
      height: 80%;
      width: 15%;
      margin: 1%;
      cursor: pointer;
    }
  }
}
#copyrights{
  color:white;
  
}

@media only screen and (min-width: 600px) and (max-width: 1000px)  and (orientation: landscape) {
  .footer-top {
    display: flex;
    flex-direction: row;
    margin-left: 0%;

    height: 70%;

    h2 {
      color: $rosa;
      font-family: $fontBold;
    }
    p {
      display: flex;
      flex-direction: column;
      color: white;
      font-size: 1.1em;
      margin: 1%;
      width: 90%;
      word-wrap: break-word
    }
  }

  %footer_content {
    height: 99%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-left-endereco {
    @extend %footer_content;
    width: 25%;

  }
  .footer-center-conta {
    @extend %footer_content;
          text-overflow:unset;
          width: 40%;

  }
  .footer-right-img {
    @extend %footer_content;
    width: 35%;

    display: flex;
    img{
      width:100%;
      height:100%;
    }
  }
  .footer-bottom {
    height: 20%;
    width:30%;
    a {
      img {
        height: 80%;
        width: 15%;
        margin: 1%;
        cursor: pointer;
      }
    }
  }
}
